/* Header used in index, portfolio and contact documents.*/
header {
    width: 100%;
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-color: #cccccc;
    border-bottom-style: solid;
}

/* Header used in index, portfolio and contact documents.*/
.header-content {
    padding: 40px 0px 20px 100px;
    position: relative;  
}

/* Clearfix added as a class name inside the header-content class name. Used in index, portfolio and contact documents.*/
.clearfix {
    content:"";
    display: block;
    clear: both;
}

/* h1 used in index, portfolio and contact documents.*/
h1 {
    background-color: #4aaaa5;
    position: absolute;
    bottom: 0px;
    top: 0px;
    padding: 20px;
    float: left;
    color: #ffffff;
    margin: auto;
}

/* ul is in index.html document only. */
ul {
    list-style-type: none;
    position: relative;
    bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

/* li is in index.html document only. */
li a {
    float: right;
    display: block;
    color:#777777;
    padding: 10px;
    text-decoration: none;
    opacity: .5;
}

/* li is in index.html document only. */
li a:hover {
    background-color: #4aaaa5;
}

/* body used in index, portfolio and contact documents.*/
body {
    background-image: url("dynamic-style.png");
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    margin: 0px;
    align-content: center;

}

/* .container is in index.html document only. */
.container {
    padding: 10px 40px 20px 40px;
    margin: 20px auto;
    background-color: #ffffff;
    width: 960px;
    align-content: center;
    overflow: auto;
}

/* h2 used in index, portfolio and contact documents.*/
h2 {
    color:#4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-color: #dddddd;
    border-bottom-style: solid;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

/* #bio-paragraph is in index.html document only. */
#bio-paragraph {
    width: 100%;
    line-height: 2em;
}

/* #ashley-headshot is in index.html document only. */
#ashley-headshot {
    float: left;
    width: 160px;
    height: 160px;
    padding: 5px 20px 5px 5px;
}

/* footer used in index and contact documents.*/
footer {
    background-color: #666666;
    padding: 10px 50px;
    border-color: #4aaaa5;
    border-top-style: solid;
    width: 100%;
    position: absolute;
    bottom: 0px;
    font-size: 10px;
    color: #ffffff;
    text-align: center;
}

/* portfolio-footer used in portfolio document only. */
#portfolio-footer {
    background-color: #666666;
    padding: 10px;
    border-color: #4aaaa5;
    border-top-style: solid;
    width: 100%;
    position: relative;
    bottom: 0px;
    font-size: 10px;
    color: #ffffff;
    text-align: center;
}

#copyright {
    padding: 20px 0px 0px 0px;
    opacity: .5;
}

/* form is in contact.html document only. */
form {
    line-height: 1.5em;
}

/* name used in contact.html document only. */
#name {
    height: 20px;
    width: 960px;
    margin-bottom: 10px;
}

/* email used in contact.html document only. */
#email {
    height: 20px;
    width: 960px;
    margin-bottom: 10px;
}

/* .message used in contact.html document only. */
#message {
    height: 150px;
    width: 960px;
    margin-bottom: 10px;
}

/* .submit used in contact.html document only. */
#submit {
    background-color: #4aaaa5;
    padding: 12px 20px;
    color: white;
    font-size: 14px;
    margin-top: 10px;
}

/* images used in portfolio.html document only. */
.images {
    width: 550px;
}
.level1 {
    position: relative;
    float: left;
    margin: 20px 20px 30px 0px;
}

/* portfolio-links used in portfolio.html document only. */
.portfolio-links {
    height: 150px;
    width: 200px;
    position: relative;
}

/* labels used in portfolio.html document only. */
.labels {
    background-color: #4aaaa5;
    color: white;
    padding: 10px 0px;
    width: 200px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    top: 100px;
}

@media only screen and (max-width: 980px) {

header {
    padding-left: 0px;
}
.header-content {
    padding: 40px 0px 20px 0px;
    width: 100%;
}
ul {
    left: 0px;
}

.container {
    width: 860px;
}

#name {
    width: 860px;
}

#email {
    width: 860px;
}

#message {
    width: 860px;
}
}


@media only screen and (max-width: 768px) {
.container {
    width: 500px;
}

ul {
    left: 0px;
}

#name {
    width: 500px;
}

#email {
    width: 500px;
}

#message {
    width: 500px;

}

@media only screen and (max-width: 640px) {
.container {
    width: 350px;
}

ul {
    left: 0px;
}

.level1 {
    position: relative;
    float: none;
    padding-left: 60px;
}
#name {
    width: 350px;
}

#email {
    width: 350px;
}

#message {
    width: 350px;
}

